# MongoDB with Python

## Steps for connecting mongoDB with Python
- import pymongo  {import pymongo}
- create pymongo client {client = pymongo.MongoClient('mongodb://127.0.0.1:27017')}
- create database {mydb = client['student']}
- create collection {information = mydb.employeeinformation}
- insert record {information.insert_one(record)}

In [1]:
import pymongo

In [3]:
#create pymongo client
client = pymongo.MongoClient('mongodb://127.0.0.1:27017')

In [4]:
mydb = client['student'] #creation of databases

In [5]:
information = mydb.employeeinformation # creation of collections

In [8]:
record = {"firstname":"Saima",
          "age":26, 
          "department":"CSE"}
information.insert_one(record)

In [12]:
record = [{"firstname":"Saima",
           "age":26, 
           "department":"CSE"},
          {"firstname":"Shanu",
           "age":27,
           "department":"ME"},
         {"firstname":"mudassir",
           "age":27},
         {
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]
information.insert_many(record)

# Querying JSON Document

In [13]:
information.find_one()

{'_id': ObjectId('635cfff9cf17596f0a502c14'),
 'firstname': 'Saima',
 'age': 26,
 'department': 'CSE'}

In [15]:
for info in information.find(): # similar to select * from table
    print(info)

{'_id': ObjectId('635cfff9cf17596f0a502c14'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00aacf17596f0a502c15'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00c3cf17596f0a502c16'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00c3cf17596f0a502c17'), 'firstname': 'Shanu', 'age': 27, 'department': 'ME'}
{'_id': ObjectId('635d0219cf17596f0a502c18'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c19'), 'firstname': 'Shanu', 'age': 27, 'department': 'ME'}
{'_id': ObjectId('635d0219cf17596f0a502c1a'), 'firstname': 'Saima', 'age': 26}
{'_id': ObjectId('635d0262cf17596f0a502c1b'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0262cf17596f0a502c1c'), 'firstname': 'Shanu', 'age': 27, 'department': 'ME'}
{'_id': ObjectId('635d0262cf17596f0a502c1d'), 'firstname': 'mudassir', 'age': 27}
{'_id': ObjectId('635d0262cf17596f0a502c1e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('635d0262cf17596f0a502c1f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('635d0262cf17596f0a502c20'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('635d0262cf17596f0a502c21'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

## Query json document on the basis of equality condition

In [36]:

#select * from information where "firstname" = "Saima"
for info in information.find({"firstname":"Saima"}): # condition to be given in find
    print(info)

{'_id': ObjectId('635cfff9cf17596f0a502c14'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00aacf17596f0a502c15'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00c3cf17596f0a502c16'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c18'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c1a'), 'firstname': 'Saima', 'age': 26}
{'_id': ObjectId('635d0262cf17596f0a502c1b'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}

# Query Documents using query operators

In [29]:
#Query operators($in, $lt,$gt) 
#Query 1- returns the records whose qualification is either masters of phd(similar to in operator in sql)
for info in information.find({'qualification':{'$in':['masters','phd']}}):
    print(info)

{'_id': ObjectId('635d0262cf17596f0a502c1f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('635d0262cf17596f0a502c20'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [30]:
## and operator and query operator
#Query2 - returns the records whose qualification is either masters or phd and age is 32
for info in information.find({'qualification':{'$in':['masters','phd']},'age':{'$lt':32}}):
    print(info)

{'_id': ObjectId('635d0262cf17596f0a502c1f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [31]:
## or operator
# Query3 - returns the records whose firstname is saima or qualification is masters
for info in information.find({'$or':[{"firstname":"Saima"},{"qualification":"masters"}]}):
    print(info)

{'_id': ObjectId('635cfff9cf17596f0a502c14'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00aacf17596f0a502c15'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00c3cf17596f0a502c16'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c18'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c1a'), 'firstname': 'Saima', 'age': 26}
{'_id': ObjectId('635d0262cf17596f0a502c1b'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0262cf17596f0a502c1f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [32]:
# Query3 - returns the records whose firstname is saima and qualification is masters
for info in information.find({'$and':[{"firstname":"Saima"},{"age":26}]}):
    print(info)

{'_id': ObjectId('635cfff9cf17596f0a502c14'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00aacf17596f0a502c15'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d00c3cf17596f0a502c16'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c18'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}
{'_id': ObjectId('635d0219cf17596f0a502c1a'), 'firstname': 'Saima', 'age': 26}
{'_id': ObjectId('635d0262cf17596f0a502c1b'), 'firstname': 'Saima', 'age': 26, 'department': 'CSE'}

# Querying JSON Nested Documents

In [33]:
inventory = mydb.inventory

In [34]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

In [35]:
for info in inventory.find({"size":{ 'h': 14, 'w': 21,'uom': "cm" }}):
    print(info)

{'_id': ObjectId('635d098dcf17596f0a502c22'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

# Updating Json Documents

## Functions used
- pymongo.collection.Collection.update_one()
- pymongo.collection.Collection.update_many()
- pymongo.collection.Collection.replace_one()

In [51]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [54]:
inventory.update_one(  #updates the uom size from cm to m an set the status a p of item sketch pad 
{'item': "sketch pad"},
{"$set":{"size.uom":"m","status": "P"},
"$currentDate":{"lastModified":True}} #currentDate is useful to keep the track when the data was last modified
)

In [55]:
inventory.update_many( #update with many condition
{"qty":{"$lt":50}},
{"$set":{"size.uom":"m","status": "P"},
"$currentDate":{"lastModified":True}} # gives the status when it is last modified
)

In [56]:
inventory.replace_one( 
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

# Aggregate and Group Function

In [58]:
student_details= mydb.studentinformation
data =[ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
student_details.insert_many(data)

In [66]:
# Query1 - find the numbr of subjects each user has taken

# grouping is done on user
results = student_details.aggregate(
    [{"$group":
     {"_id":"$user", "Total Subject":{"$sum":1} #_id will be unique identity and it should be used(Group by expression)
     }}   
    ])
for i in results:
    print(i)

{'_id': 'Amit', 'Total Subject': 3}
{'_id': 'Krish', 'Total Subject': 3}

In [68]:
# Query2 - total score based on user
results_score = student_details.aggregate(
    [{"$group":
     {"_id":"$user", "Total Score":{"$sum":"$score"} #_id will be unique identity and it should be used
     }}   
    ])
for i in results_score:
    print(i)

{'_id': 'Krish', 'Total Score': 250}
{'_id': 'Amit', 'Total Score': 235}

In [71]:
# Query 3 - Average score based on user
results_average = student_details.aggregate(
    [{"$group":
     {"_id":"$user", "Average Score":{"$avg":"$score"} #_id will be unique identity and it should be used
     }}   
    ])
for i in results_average:
    print(i)

{'_id': 'Krish', 'Average Score': 83.33333333333333}
{'_id': 'Amit', 'Average Score': 78.33333333333333}

# Creating new collection for datetime

In [72]:
import datetime as datetime

In [73]:
new_collection = mydb.stores

In [74]:
data1 = [{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [75]:
new_collection.insert_many(data1)

In [80]:
#Query- Overall average price and average quantity
agg_result = new_collection.aggregate(
    [{"$group":
      {"_id":"$item",
      "AvgAmount":{"$avg":{"$multiply": ["$quantity","$price"]}},
      "AvgQauntity":{"$avg":"$quantity"}
      }}
     ])
for i in agg_result:
    print(i)

{'_id': 'jkl', 'AvgAmount': 20.0, 'AvgQauntity': 1.0}
{'_id': 'abc', 'AvgAmount': 60.0, 'AvgQauntity': 6.0}
{'_id': 'xyz', 'AvgAmount': 37.5, 'AvgQauntity': 7.5}

In [81]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [82]:
#create new collction
collection = mydb.goods

In [83]:
collection.insert_many(data)

In [84]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}